@charset "utf-8";
*{
  line-height: 36px;
}
h1{
  margin-top: -20px;
  font-size: 24px;
}
body {
  background-color: rgb(75,0,130);
}
.content{
  background-color: rgb(255,255,255);
  display: inline-block;
  padding:80px;
  border-radius: 10px;
  margin: 40vh 10vw;
}
.button{
  color: rgb(255, 0, 191);
  border-color:rgba(255, 143, 205, 0.938) ;
  border-radius: 5px;
  width: 60px;
}
.input{
  width: 40vw;
  border-color: rgb(197, 197, 197);
  border-radius: 5px;
}
table{
  border-collapse: separate;
  border-spacing: 7vw 10px;
}
.update{
  border-color: rgb(212, 151, 20);
  border-radius: 5px;
  color:rgb(212, 151, 20);
  width:60px;
}
.delete{
  border-color: rgb(93, 244, 255);
  border-radius: 5px;
  color:rgb(93, 244, 255);
  width: 60px;
}
.textbox{
  border-color: rgb(197, 197, 197);
  border-radius: 5px;
}